body {
  font-family: sans-serif;
  background: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #03e9f4;
  height: 40px;
  border-radius: 7px;
}

.app-wrapper {
  height: 95vh;
  width: 95vw;
  margin: auto;
  display: flex;
  overflow-y: scroll;
}

.navbar-area {
  grid-area: navbar;
}

.footer-area {
  grid-area: footer;
}

.btn:hover {
  cursor: pointer;
}
