/* TODO Add site wide styles */
body {
  font-family: sans-serif;
  background: #243b55
}

.app-grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:repeat(5, 1fr);
  height: 100vh;
  width: 100vw;
  margin-left: 10%;
  margin-right: 10%;
  background: #141e30
}

.flex-container {
  position: fixed;
  display: flex;
  justify-content: center;
  background: linear-gradient(#243b55, #141e30);
}

.profile-btn {
  color: #03e9f4
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: linear-gradient(#243b55, #141e30);
}