/* TODO Add site wide styles */
body {
  font-family: sans-serif;
  background: #141e30
}

.app-grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:35px 7fr 35px;
  grid-template-rows: 1fr 7fr 1fr;
  height: 100vh;
  width: 100vw;
  margin-left: 2%;
  margin-right: 2%;
  background: #243b55
}

.flex-container {
  display: brder-box;
  display: grid;
  overflow-y: scroll;
  justify-content: center;
  background: linear-gradient(#243b55, #141e30);
}

.profile-btn {
  color: #03e9f4
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: linear-gradient(#243b55, #141e30);
}