.homepage-grid {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.homepage-grid2 {
  color: rgb(211, 214, 226);
  block-size: border-box;
  margin: 7px;
  padding: 7px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 63% auto;
  grid-gap: 5px;
  grid-template-areas: 
  "feature top5"
  "userfeed userfeed"
}

.user-feed {
  border: 1px solid #03e9f4;
  grid-area: userfeed;
  display:flex;
  flex-direction: row;
  overflow-y: scroll;
  z-index: 1;
}

.top-story {
  grid-area: feature;
  overflow-y:scroll;
  display: flex;
  height: 60vh;
}

.top-four {
  overflow: hidden;
}
