.homepage-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-grid2 {
  color: rgb(211, 214, 226);
  block-size: border-box;
  max-width: 70vw;
  margin-left: 15vw;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: 63% auto;
  grid-gap: 5px;
  grid-template-areas:
    "feature top5"
    "userfeed userfeed";
}

.user-feed {
  box-sizing: border-box;
  border-top: 2px solid #03e9f4;
  grid-area: userfeed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 14px;
  padding: 4px;
}

.top-story {
  grid-area: feature;
  overflow-y: scroll;
  display: flex;
  height: 60vh;
}

.top-four {
  overflow: hidden;
}

.feature {
  display: grid;
  border-right: 1px solid #03e9f4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "img img title"
    "img img author"
    "content content content";
}

.feature > img {
  grid-area: img;
  max-width: 85%;
  max-height: 84%;
  margin: auto;
}
.feature > h1 {
  margin: auto;
  grid-area: title;
}
.feature > p {
  margin: auto;
  grid-area: author;
}

.feature-story-content {
  grid-area: content;
}
