.single-story-page {
  color: rgb(211, 214, 226);
  block-size: border-box;
  margin: 7px;
  padding: 7px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 12px;
  grid-template-areas: 
  "img title title"
  "img content content"
  ". content content"
}

.img-div {
grid-area: img;
}

.title-div {
grid-area: title;
}

.content-div {
 grid-area: content;
}

.Follw-btn {
  border: 1px solid #03e9f4;
  border-radius: 5px;
  background: transparent;
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
  transition: .5s;
  margin: 5px;
}

.Follw-btn:hover {
  cursor:pointer;
  border: 0px;
  padding: 5px 15px;
  color: #03e9f4;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4;
}

.author-link {
  color: #03e9f4;
}